/* Utils */
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: var(--content-border-radius);

  &:last-child {
    margin-bottom: 0;
  }
}

.p-toast {
  &.p-toast-top-right,
  &.p-toast-top-left,
  &.p-toast-top-center {
    top: 100px;
  }
}

/* Fix for date picker overlay rendering behind dialog */
.p-datepicker-panel,
.p-datepicker-calendar,
.p-multiselect-overlay {
  z-index: 5000 !important;
}

.no-header-datatable thead {
  display: none;
}

.no-header-datatable .p-datatable-header {
  padding: 0 !important;
}

.print-table .p-datatable-tbody > tr > td {
  border-color: #555 !important;
}
